.tittleHeaders {
  font-style: italic;
  font-size: 50px;
  margin-bottom: 40px;
  height: 30px;
  background-color: #232323;
  width: 100%;
  height: 85px;
  bottom: 0;
  left: 0;
  margin-top: 20px;
  color: white; }

.imgLogo {
  width: 45px;
  height: 35px; }

.tittleH {
  background-image: url(../media/inicio.png);
  width: 100%;
  height: 500px;
  text-align: center;
  color: #FFEEDB;
  padding-top: 200px;
  font-size: 50px;
  font-style: italic;
  letter-spacing: 10px;
  margin-bottom: 20px; }

ul {
  list-style-type: none; }

li {
  display: inline-block;
  padding: 0 30px; }

.pk {
  font-size: 30px;
  font-style: italic;
  text-align: center;
  background-color: #444444;
  color: #D6D2C4;
  height: 80px; }

.carousel {
  width: 100%;
  height: 400px; }

.imgC {
  width: 100%;
  height: 475px;
  margin-top: 0px;
  margin-bottom: 30px; }

.img {
  width: 100%;
  height: 300px; }

.editRedes {
  height: 14px;
  width: 14px; }

#footer {
  background-color: #232323;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  margin-top: 20px;
  color: white; }

/*Css Contacto*/
.tittleC {
  color: #161616;
  background-image: url(../media/keyc3.jpg);
  height: 400px; }

.text {
  text-align: center; }

.fondo {
  background-color: #0C4271;
  color: white;
  padding: 30px;
  text-align: center; }

.newsletter {
  border: 10px solid #0C4271;
  margin-left: 150px;
  margin-right: 150px;
  background-color: #171717;
  color: #F9F9F9; }

.textoDatos {
  text-transform: uppercase;
  font-size: 19px;
  border: 7px solid #0C4271;
  margin-left: 150px;
  margin-right: 150px;
  background-color: #171717;
  color: #F9F9F9; }

.imglogos {
  height: 20px; }

.inputConsulta {
  border: 7px solid #0C4271;
  padding: 50px;
  width: 80%;
  margin-bottom: 30px;
  border-top-width: 20px;
  border-bottom-width: 20px;
  border-right-width: 15px;
  border-left-width: 15px; }

input {
  background: #171717;
  color: #F9F9F9;
  transition: width 10s; }

/*Mobile Styles*/
@media only screen and (max-width: 576px) {
  #header a {
    font-size: 14px;
    float: left;
    display: block;
    color: white;
    padding-bottom: 20px 12px;
    text-align: center; }
  ul {
    font-size: 30px;
    text-align: left;
    display: inline-block; }
  img {
    width: 100%; }
  p {
    font-size: 20px;
    text-align: center; }
  #footer {
    height: 180px; } }
